html
	head
		title= title
		link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js")
		script(src="https://cdn.optimizely.com/js/8370582094.js")

	body
		div(class='navbar navbar-default')
			h3
				span(class='label label-default')="A/B Testing"

		div(class='container')

			div(class="row")
				h3 "Viste 1 hora de una película que está pareciendote muy mala. Pagaste por esa entrada $140. Terminás de ver la media hora restante de película?"

			div(class="row")
				div(class="col-lg-6")
					div(class="input-group input-group-lg")
						span(class="input-group-addon")
							input(type="radio" aria-label="Continuar" onclick='continuar();')
							| &nbsp;Continuar viendo la pelicula
			div(class="row")
				div(class="col-lg-6")
					div(class="input-group input-group-lg")
						span(class="input-group-addon")
							input(type="radio" aria-label="Continuar" onclick='abandonar();')
							| &nbsp;Me voy!			
			
	script.
		function continuar() {
			window.location.href = '/continua';
		}

		function abandonar() {
			window.location.href = '/abandona';
		}

