html
	head
		title= title
		link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js")
		script(src="https://cdn.optimizely.com/js/8370582094.js")
		include hotjar.pug

	body
		div(class='navbar navbar-default')
			h3
				span(class='label label-default')="A/B Testing"

		div(class='container')
			h2="Buena elección!"
